body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

header {
  grid-area: header;
}

header {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(25px, 80px));
  grid-gap: 5px;
  background-color: rgb(116, 119, 191);
}

header h1 {
  margin-right: 50px;
}
header .noti-div {
  margin-left: 60px;
}
header img {
  margin-left: 150px;
}
header h3 {
  margin-left: 180px;
}

nav {
  grid-area: navigation;
  background-color: rgb(77, 76, 114);
}

main {
  grid-area: main;
}

.bell-icon {
  width: 30px;
}

.my-profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

nav {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(60px, 60px));
  grid-gap: 5px;
}

nav a img {
  height: 60px;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .widget-container-full,
  .widget-container-half {
    width: 95vw;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

.main {
  display: grid;
}
